extends layout

block content
  h1= title
  
  - let result = results;
  div(class="container-fluid")
    div(class="row")
    - let idx = 0;
    each value in result 
      div(class="col-sm-2", onClick=`buy(${idx+1})`, style="padding:10px") Name: #{value.ts_name} Runtime: #{value.ts_runtime} Broadcast Channel: #{value.ts_broadcastchannel}
      - idx += 1;
  script.
    function buy(index) {
      alert("You purchased item "+index);
    }